.profile__info {
display: flex;
max-width: 336px;
flex-wrap: wrap;
align-items: center;
}
@media screen and (max-width: 887px) {
  .profile__info {
    max-width: 220px;
    padding: 0 0 36px 0;
    justify-content: center;
  }
}
