.profile__edit-button {
  width: 24px;
  height: 24px;
  margin-top: 5px;
  background-color: #000;
  background-image: url(../../../images/edit_button.svg);
  background-repeat: no-repeat;
  border: 1px solid #fff;
  background-size: contain;

}
.profile__edit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
@media screen and (max-width: 887px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-top: 0;
  }
}
