.header__logout {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #A9A9A9;
  text-decoration: none;
  padding: 0 0 0 24px;
}
