.profile__photo-edit-button {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.profile__photo-edit-button:hover {
  opacity: 1;
  cursor: pointer;
}
