.popup__caption_zoom {
  display: block;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  position: absolute;
  bottom: -35px;
}
